#state_InGameState {
    .gameLoadingOverlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 9999;
        align-items: center;
        justify-content: center;
        pointer-events: all;
        display: flex;
        background: $mainBgColor;
        flex-direction: column;
    }

    .prefab_GameHint {
        position: absolute;
        @include S(bottom, 40px);
        @include S(left, 20px);
        @include S(right, 20px);
        @include PlainText;
        text-align: center;

        color: #666;

        @include DarkThemeOverride() {
            color: lighten($darkModeGameBackground, 50);
        }
    }

    .keybinding {
        background-color: #fff;
        text-transform: uppercase;
        @include S(padding, 1.5px, 3px, 2px);
        @include PlainText;
        @include S(border-radius, $globalBorderRadius);
        &,
        > span {
            @include S(font-size, 9px);
            @include S(line-height, 11px);
            font-weight: bold !important;
            text-shadow: none !important;
        }
        font-weight: bold;
        color: $accentColorDark;
        text-align: center;
        justify-content: center;
        align-items: center;
        @include S(min-width, 12px);
        display: inline-flex;
        position: absolute;
        @include S(bottom, 0px);
        @include S(right, 0px);
        z-index: 999;
        box-sizing: border-box;
        @include S(height, 12px);
        overflow: hidden;
        border: #{D(0px)} solid $accentColorDark;
        .keybinding_space {
            @include S(font-size, 17px);
            @include S(line-height, 11px);
            @include S(margin-top, -12px);
        }
    }

    #ingame_Canvas {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    #ingame_HUD_ModalDialogs {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    @include DarkThemeOverride {
        .gameLoadingOverlay {
            background: $darkModeGameBackground;
        }
    }
}
